<div class="acheterSoldat buyButton" onclick="buyUnit(Unit01,showUnit01)">
    <span id="nbrUnit01" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire un Goldomek</span>
                <span class="prixBlock">Prix <span id="prixUnit01" class="prix"></span>$</span>
            </span>
    <img src="{{ asset("images/robot1.png") }}" alt="">
</div>
<div class="acheterSoldat2 buyButton" onclick="buyUnit(Unit02,showUnit02)">
    <span id="nbrUnit02" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire un Pinkdam</span>
                <span class="prixBlock">Prix <span id="prixUnit02" class="prix"></span>$</span>
            </span>
    <img src="{{ asset("images/robot2.png") }}" alt="">
</div>
<div class="acheterSoldat3 buyButton" onclick="buyUnit(Unit03,showUnit03)">
    <span id="nbrUnit03" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire un CodeMek</span>
                <span class="prixBlock">Prix <span id="prixUnit03" class="prix"></span>$</span>
            </span>
    <img src="{{ asset("images/robot3.png") }}" alt="">
</div>

<div class="acheterTank01 buyButton" onclick="buyUnit(Unit04,showUnit04)">
    <span id="nbrUnit04" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire un BlueTurtle</span>
                <span class="prixBlock">Prix <span id="prixUnit04" class="prix"></span>$</span>
            </span>
    <img src="{{ asset("images/robot4.png") }}" alt="">
</div>

<div class="acheterMecha buyButton" onclick="buyUnit(Unit05,showUnit05)">
    <span id="nbrUnit05" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire un Golden Lion</span>
                <span class="prixBlock">Prix <span id="prixUnit05" class="prix"></span>$</span>
            </span>
    <img src="{{ asset("images/robot5.png") }}" alt="">
</div>

<div class="acheterMecha02 buyButton" onclick="buyUnit(Unit06,showUnit06)">
    <span id="nbrUnit06" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire un Kaiser</span>
                <span class="prixBlock">Prix <span id="prixUnit06" class="prix"></span>$</span>
            </span>
    <img src="{{ asset("images/robot6.png") }}" alt="">
</div>


</div>