{% extends '@IdleGame/Default/base.html.twig' %}
{% block content %}

    <div class="leftContent">
        <h2 class="userTitle">Armée de {{ app.user.username }}</h2>
        <div class="playerStats">
            <div>
                <img src="https://png.icons8.com/metro/50/ffffff/money-bag.png">
                <h3>Butin :&nbsp</h3>
                <span id="compteBanq"></span>
            </div>
            <div>
                <img src="https://png.icons8.com/metro/50/ffffff/refund-2.png">
                <h3>Income :&nbsp</h3>
                <span id="incomePSecond"></span>
            </div>
            <div>
                <img src="https://png.icons8.com/metro/50/ffffff/action.png">
                <h3>Dégats par seconde :&nbsp</h3>
                <span id="DPSecond"></span>
            </div>
        </div>

        <div class="heroContent">
            <div>
                <img src="https://png.icons8.com/metro/50/ffffff/assault-rifle.png"><h3>Degats :</h3>
                <span id="degatHero"></span>&nbsp/ s
            </div>
            <div>
                <img src="https://png.icons8.com/metro/50/ffffff/money-box.png"><h3>Income :</h3>
                <span id="incomeHero"></span>&nbsp/ s
            </div>
            <div id="imgHeros"></div>
        </div>
        <div>
            Temps avant fin de mission
            <span class="timerMission" id="timerMission"></span>
        </div>

        <div class="missionButton enabledMissionButton" id="enabledMissionButton" onclick="timerMissionHero()"><h2>Envoyer en mission</h2>
        </div>
        <div class="missionButton disabledMissionButton" id="disabledMissionButton"><h2>Mission en cours</h2></div>

        {{ render(controller('IdleGameBundle:Default:upgradeControl')) }}
        <div id="saveButton" class="pushSave buttonAction save"><h3>Sauvegarder</h3><span class="iconButton green"><i class="fas fa-save fa-lg"></i></span></div>
        <div class="resetSave buttonAction" onclick="resetSave()"><h3>Recommencer la partie</h3><span class="iconButton red"><i class="fas fa-undo-alt fa-lg"></i></span></div>
    </div>

    <div class="middleContent">
    {{ render(controller('IdleGameBundle:Default:ennemyBlock')) }}
    </div>

    <div class="rightContent">
    {{ render(controller('IdleGameBundle:Default:achatUnit')) }}
    </div>


<div id="result"></div>

<script>
    $('.save').on('click', function () {

        //donc je met en paramètre de ma route 0 en dur

        var url = "{{ path('game_idle_save') }}";

        $.ajax({
            type: 'POST',
            url: url,
            timeout: 3000,
            dataType: 'html',
            data: 'compteBanquaire=' + compteBanquaire +
            '&ennemyDoorLife=' + ennemyDoor.life +
            '&ennemyDoorBLife=' + ennemyDoor.baseLife +
            '&ennemyDoorLevel=' + ennemyDoor.level +
            '&ennemyTroopsLife=' + ennemyTroops.life +
            '&ennemyTroopsBLife=' + ennemyTroops.baseLife +
            '&ennemyTroopsLevel=' + ennemyTroops.level +
            '&ennemyBossLife=' + ennemyBoss.life +
            '&ennemyBossBLife=' + ennemyBoss.baseLife +
            '&ennemyBossLevel=' + ennemyBoss.level +
            '&ennemyBossBonusKill=' + ennemyBoss.bonusKill +
            '&currentStage=' + currentStage +
            //UNIT01
            '&unit01Quantity=' + Unit01.quantity +
            '&unit01Price=' + Unit01.prix +
            '&unit01Bonus10=' + Unit01.bonus['10GET'] +
            '&unit01Bonus25=' + Unit01.bonus['25GET'] +
            '&unit01Bonus50=' + Unit01.bonus['50GET'] +
            '&unit01Bonus100=' + Unit01.bonus['100GET'] +
            '&unit01Bonus150=' + Unit01.bonus['150GET'] +
            '&unit01BonusD10=' + Unit01.bonusD['10GET'] +
            '&unit01BonusD25=' + Unit01.bonusD['25GET'] +
            '&unit01BonusD50=' + Unit01.bonusD['50GET'] +
            '&unit01BonusD100=' + Unit01.bonusD['100GET'] +
            '&unit01BonusD150=' + Unit01.bonusD['150GET'] +
            '&unit01GlobalBonus=' + Unit01.globalBonus +
            '&unit01GlobalDmgBonus=' + Unit01.globalDmgBonus +
            //UNIT02
            '&unit02Quantity=' + Unit02.quantity +
            '&unit02Price=' + Unit02.prix +
            '&unit02Bonus10=' + Unit02.bonus['10GET'] +
            '&unit02Bonus25=' + Unit02.bonus['25GET'] +
            '&unit02Bonus50=' + Unit02.bonus['50GET'] +
            '&unit02Bonus100=' + Unit02.bonus['100GET'] +
            '&unit02Bonus150=' + Unit02.bonus['150GET'] +
            '&unit02BonusD10=' + Unit02.bonusD['10GET'] +
            '&unit02BonusD25=' + Unit02.bonusD['25GET'] +
            '&unit02BonusD50=' + Unit02.bonusD['50GET'] +
            '&unit02BonusD100=' + Unit02.bonusD['100GET'] +
            '&unit02BonusD150=' + Unit02.bonusD['150GET'] +
            '&unit02GlobalBonus=' + Unit02.globalBonus +
            '&unit02GlobalDmgBonus=' + Unit02.globalDmgBonus +
            //UNIT03
            '&unit03Quantity=' + Unit03.quantity +
            '&unit03Price=' + Unit03.prix +
            '&unit03Bonus10=' + Unit03.bonus['10GET'] +
            '&unit03Bonus25=' + Unit03.bonus['25GET'] +
            '&unit03Bonus50=' + Unit03.bonus['50GET'] +
            '&unit03Bonus100=' + Unit03.bonus['100GET'] +
            '&unit03Bonus150=' + Unit03.bonus['150GET'] +
            '&unit03BonusD10=' + Unit03.bonusD['10GET'] +
            '&unit03BonusD25=' + Unit03.bonusD['25GET'] +
            '&unit03BonusD50=' + Unit03.bonusD['50GET'] +
            '&unit03BonusD100=' + Unit03.bonusD['100GET'] +
            '&unit03BonusD150=' + Unit03.bonusD['150GET'] +
            '&unit03GlobalBonus=' + Unit03.globalBonus +
            '&unit03GlobalDmgBonus=' + Unit03.globalDmgBonus +
            //UNIT04
            '&unit04Quantity=' + Unit04.quantity +
            '&unit04Price=' + Unit04.prix +
            '&unit04Bonus10=' + Unit04.bonus['10GET'] +
            '&unit04Bonus25=' + Unit04.bonus['25GET'] +
            '&unit04Bonus50=' + Unit04.bonus['50GET'] +
            '&unit04Bonus100=' + Unit04.bonus['100GET'] +
            '&unit04Bonus150=' + Unit04.bonus['150GET'] +
            '&unit04BonusD10=' + Unit04.bonusD['10GET'] +
            '&unit04BonusD25=' + Unit04.bonusD['25GET'] +
            '&unit04BonusD50=' + Unit04.bonusD['50GET'] +
            '&unit04BonusD100=' + Unit04.bonusD['100GET'] +
            '&unit04BonusD150=' + Unit04.bonusD['150GET'] +
            '&unit04GlobalBonus=' + Unit04.globalBonus +
            '&unit04GlobalDmgBonus=' + Unit04.globalDmgBonus +
            //UNIT05
            '&unit05Quantity=' + Unit05.quantity +
            '&unit05Price=' + Unit05.prix +
            '&unit05Bonus10=' + Unit05.bonus['10GET'] +
            '&unit05Bonus25=' + Unit05.bonus['25GET'] +
            '&unit05Bonus50=' + Unit05.bonus['50GET'] +
            '&unit05Bonus100=' + Unit05.bonus['100GET'] +
            '&unit05Bonus150=' + Unit05.bonus['150GET'] +
            '&unit05BonusD10=' + Unit05.bonusD['10GET'] +
            '&unit05BonusD25=' + Unit05.bonusD['25GET'] +
            '&unit05BonusD50=' + Unit05.bonusD['50GET'] +
            '&unit05BonusD100=' + Unit05.bonusD['100GET'] +
            '&unit05BonusD150=' + Unit05.bonusD['150GET'] +
            '&unit05GlobalBonus=' + Unit05.globalBonus +
            '&unit05GlobalDmgBonus=' + Unit05.globalDmgBonus +
            //UNIT06
            '&unit06Quantity=' + Unit06.quantity +
            '&unit06Price=' + Unit06.prix +
            '&unit06Bonus10=' + Unit06.bonus['10GET'] +
            '&unit06Bonus25=' + Unit06.bonus['25GET'] +
            '&unit06Bonus50=' + Unit06.bonus['50GET'] +
            '&unit06Bonus100=' + Unit06.bonus['100GET'] +
            '&unit06Bonus150=' + Unit06.bonus['150GET'] +
            '&unit06BonusD10=' + Unit06.bonusD['10GET'] +
            '&unit06BonusD25=' + Unit06.bonusD['25GET'] +
            '&unit06BonusD50=' + Unit06.bonusD['50GET'] +
            '&unit06BonusD100=' + Unit06.bonusD['100GET'] +
            '&unit06BonusD150=' + Unit06.bonusD['150GET'] +
            '&unit06GlobalBonus=' + Unit06.globalBonus +
            '&unit06GlobalDmgBonus=' + Unit06.globalDmgBonus,
            success: function (data) {
                $('#result').html(data);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        })
    })
</script>

<script src="{{ asset('script/varGame.js.twig') }}"></script>
<script>

    compteBanquaire = {{ compteBanquaire }} ;
    ennemyDoor.life = {{ ennemyDoorLife }} ;
    ennemyDoor.baseLife = {{ ennemyDoorBLife }};
    ennemyDoor.level = {{ ennemyDoorLevel }};

    ennemyTroops.life = {{ ennemyTroopsLife }};
    ennemyTroops.baseLife = {{ ennemyTroopsBLife }};
    ennemyTroops.level = {{ ennemyTroopsLevel }};

    ennemyBoss.life = {{ ennemyBossLife }};
    ennemyBoss.baseLife = {{ ennemyBossBLife }};
    ennemyBoss.level = {{ ennemyBossLevel }};
    ennemyBoss.bonusKill = {{ ennemyBossBonusKill }};
    currentStage = '{{ currentStage }}';


    Unit01.quantity ={{ unit01Quantity }};
    Unit01.prix = {{ unit01Price }};

    Unit02.quantity ={{ unit02Quantity }};
    Unit02.prix = {{ unit02Price }};

    Unit03.quantity ={{ unit03Quantity }};
    Unit03.prix = {{ unit03Price }};

    Unit04.quantity ={{ unit04Quantity }};
    Unit04.prix = {{ unit04Price }};

    Unit05.quantity ={{ unit05Quantity }};
    Unit05.prix = {{ unit05Price }};

    Unit06.quantity ={{ unit06Quantity }};
    Unit06.prix = {{ unit06Price }};


    Unit01Array = [[String('{{ unit01Bonus10 }}')], [String('{{ unit01Bonus25 }}')], [String('{{ unit01Bonus50 }}')], [String('{{ unit01Bonus100 }}')], [String('{{ unit01Bonus150 }}')]];
    Unit01DArray = [[String('{{ unit01BonusD10 }}')], [String('{{ unit01BonusD25 }}')], [String('{{ unit01BonusD50 }}')], [String('{{ unit01BonusD100 }}')], [String('{{ unit01BonusD150 }}')]];

    Unit02Array = [[String('{{ unit02Bonus10 }}')], [String('{{ unit02Bonus25 }}')], [String('{{ unit02Bonus50 }}')], [String('{{ unit02Bonus100 }}')], [String('{{ unit02Bonus150 }}')]];
    Unit02DArray = [[String('{{ unit02BonusD10 }}')], [String('{{ unit02BonusD25 }}')], [String('{{ unit02BonusD50 }}')], [String('{{ unit02BonusD100 }}')], [String('{{ unit02BonusD150 }}')]];

    Unit03Array = [[String('{{ unit03Bonus10 }}')], [String('{{ unit03Bonus25 }}')], [String('{{ unit03Bonus50 }}')], [String('{{ unit03Bonus100 }}')], [String('{{ unit03Bonus150 }}')]];
    Unit03DArray = [[String('{{ unit03BonusD10 }}')], [String('{{ unit03BonusD25 }}')], [String('{{ unit03BonusD50 }}')], [String('{{ unit03BonusD100 }}')], [String('{{ unit03BonusD150 }}')]];

    Unit04Array = [[String('{{ unit04Bonus10 }}')], [String('{{ unit04Bonus25 }}')], [String('{{ unit04Bonus50 }}')], [String('{{ unit04Bonus100 }}')], [String('{{ unit04Bonus150 }}')]];
    Unit04DArray = [[String('{{ unit04BonusD10 }}')], [String('{{ unit04BonusD25 }}')], [String('{{ unit04BonusD50 }}')], [String('{{ unit04BonusD100 }}')], [String('{{ unit04BonusD150 }}')]];

    Unit05Array = [[String('{{ unit05Bonus10 }}')], [String('{{ unit05Bonus25 }}')], [String('{{ unit05Bonus50 }}')], [String('{{ unit05Bonus100 }}')], [String('{{ unit05Bonus150 }}')]];
    Unit05DArray = [[String('{{ unit05BonusD10 }}')], [String('{{ unit05BonusD25 }}')], [String('{{ unit05BonusD50 }}')], [String('{{ unit05BonusD100 }}')], [String('{{ unit05BonusD150 }}')]];

    Unit06Array = [[String('{{ unit06Bonus10 }}')], [String('{{ unit06Bonus25 }}')], [String('{{ unit06Bonus50 }}')], [String('{{ unit06Bonus100 }}')], [String('{{ unit06Bonus150 }}')]];
    Unit06DArray = [[String('{{ unit06BonusD10 }}')], [String('{{ unit06BonusD25 }}')], [String('{{ unit06BonusD50 }}')], [String('{{ unit06BonusD100 }}')], [String('{{ unit06BonusD150 }}')]];

    AllUnitArray = [
        [Unit01Array, Unit01DArray],
        [Unit02Array, Unit02DArray],
        [Unit03Array, Unit03DArray],
        [Unit04Array, Unit04DArray],
        [Unit05Array, Unit05DArray],
        [Unit06Array, Unit06DArray]];


    for (key in AllUnitArray) {
        currentArray = AllUnitArray[key];
        for (key2 in currentArray) {
            current = currentArray[key2];
            for (key3 in current) {
                AllUnitArray[key][key2][key3] = getArrayBonus(current[key3][0]);
            }
        }
    }

    getSaveUnit();


    function getSaveUnit() {
        for (key in arrayUnit) {
            arrayUnit[key].bonus = {
                '10GET': AllUnitArray[key][0][0],
                '25GET': AllUnitArray[key][0][1],
                '50GET': AllUnitArray[key][0][2],
                '100GET': AllUnitArray[key][0][3],
                '150GET': AllUnitArray[key][0][4]
            };
            arrayUnit[key].bonusD = {
                '10GET': AllUnitArray[key][1][0],
                '25GET': AllUnitArray[key][1][1],
                '50GET': AllUnitArray[key][1][2],
                '100GET': AllUnitArray[key][1][3],
                '150GET': AllUnitArray[key][1][4]
            };
        }

        arrayUnit = [Unit01, Unit02, Unit03, Unit04, Unit05, Unit06];
    }

    function getArrayBonus(stringto) {
        exploded = stringto.split(',');
        if (exploded[0] === 'false') {
            exploded[0] = false
        } else {
            exploded[0] = true
        }
        exploded[1] = parseInt(exploded[1]);
        exploded[3] = parseInt(exploded[3]);
        return exploded;
    }

</script>
<script src="{{ asset('script/main.js.twig') }}"></script>
<script src="{{ asset('script/upgradeUnit.js.twig') }}"></script>
{% endblock %}



