<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Idle War Game</title>
    <script src="{{ asset('script/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('script/jquery.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("css/main.css") }}"> <!-- asset s'occupe de trouver le chemin à partir du dossier web -->
</head>
<body>
<div class="content">
    <div class="leftBlock">
        <div id="BlockMoney">
            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            <h2>Compte en banque</h2>
            <div class ="subBlockMoney" id="subBlockMoney">
                <div>
                    <h1><span id="compteBanq"></span></h1><img src="{{ asset("images/billet.png") }}" alt="">
                </div>
            </div>
            <h1>Income</h1>
            <div class ="subBlockMoney" id="subBlockMoney">
                <div>
                    <br><h2><span id="incomePSecond"></span></h2><img src="{{ asset("images/billet.png") }}" alt=""><h2>/s</h2>
                </div>
            </div>
            <h1>Dégats par seconde</h1>
            <div class ="subBlockMoney" id="subBlockMoney">
                <div>
                    <br><h2><span id="DPSecond"></span></h2><img src="{{ asset("images/fist.png") }}" alt=""><h2>/s</h2>
                </div>
            </div>

        </div>
        <div class="heroBlock">
            <div class="upgHeroMenu" id="WeaponMenu" >
                <div class="crossContent">
                    <div class="closeCross" onclick="hideWeaponMenu()">X</div>
                </div>
                    <div class="upgHero" id="upgWeaponHero01" onclick="buyUpgWeaponHero01()"></div>
                    <div class="upgHero" id="upgWeaponHero02" onclick="buyUpgWeaponHero02()"></div>
                    <div class="upgHero" id="upgWeaponHero03" onclick="buyUpgWeaponHero03()"></div>
                    <div class="upgHero" id="upgWeaponHero04" onclick="buyUpgWeaponHero04()"></div>
                    <div class="upgHero" id="upgWeaponHero05" onclick="buyUpgWeaponHero05()"></div>
                    <div class="upgHero" id="upgWeaponHero06" onclick="buyUpgWeaponHero06()"></div>
                    <div class="upgHero" id="upgWeaponHero07" onclick="buyUpgWeaponHero07()"></div>
                    <div class="upgHero" id="upgWeaponHero08" onclick="buyUpgWeaponHero08()"></div>
            </div>
            <div class="statHero">
                <span>
                Degats :<div id="degatHero"></div>
                </span>
                <span>
                Income :<div id="incomeHero"></div>
                </span>
            </div>
            <div id="heroNameBlock"><h1 class="heroName" id="heroName">{{ app.user.username }}</h1></div>
            <div class="heroMiddle">
                <div class="heroSlot" id="heroGear"></div>
                <div class="heroSlot" id="heroWeapon" onclick="showWeaponMenu()"></div>
                <div class="imgHeroBlock">
                    <img class="imgHero" id="imgHeros" src="{{ asset('images/hero01.gif') }}" alt="">
                </div>
                <div class="heroSlot" id="heroSideWeapon"></div>
                <div class="heroSlot" id="heroCompanion"></div>
            </div>
        </div>
        <div class="timerMission">
            <h2>Temps avant fin de mission</h2>
            <h3 id="timerMission"></h3>
        </div>
        <div class="addMoneyButton Button" id="enabledMissionButton" onclick="timerMissionHero()">Envoyer en mission</div>
        <div class="addMoneyButton Button DisabledButton" id="disabledMissionButton">Envoyer en mission</div>
        {{ render(controller('IdleGameBundle:Default:upgradeControl')) }}
        <div id="saveButton" class="pushSave Button" onclick="saveMoney()">Save</div>
        <div class="resetSave Button" onclick="resetSave()">Reset Save</div>
    </div>
    <div class="middleBlock">
        <h1 id="currentStage"></h1>
        <h2>Level</h2><span id="levelBoss"></span>
        <div id="lifebarContent" class="lifebarContent"><div id="bossLifePoint"></div>
            <div id="life" class="life"></div>
        </div>
        <div class="backgroundBoss">
        <span class="imgBoss" >
            <img src="" id="imgBoss" alt="">
        </span>
        </div>

    </div>

    <div class="rightBlock">
        <div class="acheterSoldat buyButton" onclick="buyUnit(Unit01,showUnit01)">
            <span id="nbrUnit01" class="unitCount"></span>
            <span class="middleBuyButton">
                <span class="recrutement">Recruter 1 soldat</span>
                <span class="prixBlock">Prix <span id="prixUnit01" class="prix"></span>$</span>
            </span>
            <img src="{{ asset('images/soldat02.gif') }}" alt="">
        </div>
        <div class="acheterSoldat2 buyButton" onclick="buyUnit(Unit02,showUnit02)">
            <span id="nbrUnit02" class="unitCount"></span>
            <span class="middleBuyButton">
                <span class="recrutement">Former 1 commando</span>
                <span class="prixBlock">Prix <span id="prixUnit02" class="prix"></span>$</span>
            </span>
            <img src="{{ asset('images/soldat07.gif') }}" alt="">
        </div>
        <div class="acheterSoldat3 buyButton" onclick="buyUnit(Unit03,showUnit03)">
            <span id="nbrUnit03" class="unitCount"></span>
            <span class="middleBuyButton">
                <span class="recrutement">Créer 1 cyber-soldat</span>
                <span class="prixBlock">Prix <span id="prixUnit03" class="prix"></span>$</span>
            </span>
            <img src="{{ asset('images/soldat09.gif') }}" alt="">
        </div>

        <div class="acheterTank01 buyButton" onclick="buyUnit(Unit04,showUnit04)">
            <span id="nbrUnit04" class="unitCount"></span>
            <span class="middleBuyButton">
                <span class="recrutement">Construire 1 tank</span>
                <span class="prixBlock">Prix <span id="prixUnit04" class="prix"></span>$</span>
            </span>
            <img src="{{ asset('images/tank01.gif') }}" alt="">
        </div>

        <div class="acheterMecha buyButton" onclick="buyUnit(Unit05,showUnit05)">
            <span id="nbrUnit05" class="unitCount"></span>
            <span class="middleBuyButton">
                <span class="recrutement">Construire 1 mecha</span>
                <span class="prixBlock">Prix <span id="prixUnit05" class="prix"></span>$</span>
            </span>
            <img src="{{ asset('images/mecha04.gif') }}" alt="">
        </div>

        <div class="acheterMecha02 buyButton" onclick="buyUnit(Unit06,showUnit06)">
            <span id="nbrUnit06" class="unitCount"></span>
            <span class="middleBuyButton">
                <span class="recrutement">Construire 1 mecha</span>
                <span class="prixBlock">Prix <span id="prixUnit06" class="prix"></span>$</span>
            </span>
            <img src="{{ asset('images/mecha01.gif') }}" alt="">
        </div>


    </div>
</div>
<div id="result"></div>

<script>
    $('#saveButton').on('click', function () {

        //donc je met en paramètre de ma route 0 en dur

        var url = "{{ path('game_idle_save',{
            'compteBanquaire': 'compteBanquaire',
            'unit01Quantity': 'unit01q',
            'unit01Price': 'unit01p',
            'unit01Bonus10':'unit01b10',
            'unit01Bonus25':'unit01b25',
            'unit01Bonus50':'unit01b50',
            'unit01Bonus100':'unit01b100',
            'unit01Bonus150':'unit01b150',
            'unit01BonusD10':'unit01bd10',
            'unit01BonusD25':'unit01bd25',
            'unit01BonusD50':'unit01bd50',
            'unit01BonusD100':'unit01bd100',
            'unit01BonusD150':'unit01bd150',
            'unit01GlobalBonus':'unit01gb',
            'unit01GlobalDmgBonus':'unit01gdb',

            'unit02Quantity': 'unit02q',
            'unit02Price': 'unit02p',
            'unit02Bonus10':'unit02b10',
            'unit02Bonus25':'unit02b25',
            'unit02Bonus50':'unit02b50',
            'unit02Bonus100':'unit02b100',
            'unit02Bonus150':'unit02b150',
            'unit02BonusD10':'unit02bd10',
            'unit02BonusD25':'unit02bd25',
            'unit02BonusD50':'unit02bd50',
            'unit02BonusD100':'unit02bd100',
            'unit02BonusD150':'unit02bd150',
            'unit02GlobalBonus':'unit02gb',
            'unit02GlobalDmgBonus':'unit02gdb',
        })}}";

        //on remplace 0 par l'id de l'auteur choisi
        url = url.replace('compteBanquaire', compteBanquaire.toFixed(0));
        //UNIT01
        url = url.replace('unit01q', Unit01.quantity);
        url = url.replace('unit01p', Unit01.prix);
        url = url.replace('unit01b10', Unit01.bonus['10GET']);
        url = url.replace('unit01b25', Unit01.bonus['25GET']);
        url = url.replace('unit01b50', Unit01.bonus['50GET']);
        url = url.replace('unit01b100', Unit01.bonus['100GET']);
        url = url.replace('unit01b150', Unit01.bonus['150GET']);
        url = url.replace('unit01bd10', Unit01.bonusD['10GET']);
        url = url.replace('unit01bd25', Unit01.bonusD['25GET']);
        url = url.replace('unit01bd50', Unit01.bonusD['50GET']);
        url = url.replace('unit01bd100', Unit01.bonusD['100GET']);
        url = url.replace('unit01bd150', Unit01.bonusD['150GET']);
        url = url.replace('unit01gb', Unit01.globalBonus);
        url = url.replace('unit01gdb', Unit01.globalDmgBonus);
        //UNIT02
        url = url.replace('unit02q', Unit02.quantity);
        url = url.replace('unit02p', Unit02.prix);
        url = url.replace('unit02b10', Unit02.bonus['10GET']);
        url = url.replace('unit02b25', Unit02.bonus['25GET']);
        url = url.replace('unit02b50', Unit02.bonus['50GET']);
        url = url.replace('unit02b100', Unit02.bonus['100GET']);
        url = url.replace('unit02b150', Unit02.bonus['150GET']);
        url = url.replace('unit02bd10', Unit02.bonusD['10GET']);
        url = url.replace('unit02bd25', Unit02.bonusD['25GET']);
        url = url.replace('unit02bd50', Unit02.bonusD['50GET']);
        url = url.replace('unit02bd100', Unit02.bonusD['100GET']);
        url = url.replace('unit02bd150', Unit02.bonusD['150GET']);
        url = url.replace('unit02gb', Unit02.globalBonus);
        url = url.replace('unit02gdb', Unit02.globalDmgBonus);
        console.log(url);
        $.ajax({
            type: 'get',
            url: url,
            timeout: 3000,
            dataType: 'html',
            success: function (data) {
                $('#result').html(data);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        })
    })
</script>

<script src="{{ asset('script/varGame.js.twig') }}"></script>
<script src="{{ asset('script/main.js.twig') }}"></script>
<script src="{{ asset('script/upgradeUnit.js.twig') }}"></script>
    </body>
    </html>


