<div class="upgrade">
    <!-- ---------UNIT01 UPGRADE--------- -->
    <!-- ---------MONEY UPG---------- -->
    <div class="upgradeButton upg10 upgUnit01" onclick="buyUpgMoney(Unit01,'10GET','upgUnit01_10')" id="upgUnit01_10">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Goldomek<br/>
            Prix : <span id="TTupgUnit01_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit01" onclick="buyUpgMoney(Unit01,'25GET','upgUnit01_25')" id="upgUnit01_25">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Goldomek<br/>
            Prix : <span id="TTupgUnit01_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit01" onclick="buyUpgMoney(Unit01,'50GET','upgUnit01_50')" id="upgUnit01_50">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Goldomek<br/>
            Prix : <span id="TTupgUnit01_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit01" onclick="buyUpgMoney(Unit01,'100GET','upgUnit01_100')" id="upgUnit01_100">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Goldomek<br/>
            Prix : <span id="TTupgUnit01_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit01" onclick="buyUpgMoney(Unit01,'150GET','upgUnit01_150')" id="upgUnit01_150">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Goldomek<br/>
            Prix : <span id="TTupgUnit01_150"></span>
        </span>
    </div>
    <!-- ---------DAMAGE UPG---------- -->
    <div class="upgradeButton upg10 upgUnit01" onclick="buyUpgDmg(Unit01,'10GET','upgDMGUnit01_10')" id="upgDMGUnit01_10">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Goldomek<br/>
            Prix : <span id="TTupgDMGUnit01_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit01" onclick="buyUpgDmg(Unit01,'25GET','upgDMGUnit01_25')" id="upgDMGUnit01_25">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Goldomek<br/>
            Prix : <span id="TTupgDMGUnit01_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit01" onclick="buyUpgDmg(Unit01,'50GET','upgDMGUnit01_50')" id="upgDMGUnit01_50">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Goldomek<br/>
            Prix : <span id="TTupgDMGUnit01_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit01" onclick="buyUpgDmg(Unit01,'100GET','upgDMGUnit01_100')" id="upgDMGUnit01_100">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Goldomek<br/>
            Prix : <span id="TTupgDMGUnit01_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit01" onclick="buyUpgDmg(Unit01,'150GET','upgDMGUnit01_150')" id="upgDMGUnit01_150">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Goldomek<br/>
            Prix : <span id="TTupgDMGUnit01_150"></span>
        </span>
    </div>
    <!-- ---------UNIT02 UPGRADE--------- -->
    <div class="upgradeButton upg10 upgUnit02" onclick="buyUpgMoney(Unit02,'10GET','upgUnit02_10')" id="upgUnit02_10">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Pinkdam<br/>
            Prix : <span id="TTupgUnit02_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit02" onclick="buyUpgMoney(Unit02,'25GET','upgUnit02_25')" id="upgUnit02_25">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Pinkdam<br/>
            Prix : <span id="TTupgUnit02_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit02" onclick="buyUpgMoney(Unit02,'50GET','upgUnit02_50')" id="upgUnit02_50">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Pinkdam<br/>
            Prix : <span id="TTupgUnit02_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit02" onclick="buyUpgMoney(Unit02,'100GET','upgUnit02_100')" id="upgUnit02_100">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Pinkdam<br/>
            Prix : <span id="TTupgUnit02_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit02" onclick="buyUpgMoney(Unit02,'150GET','upgUnit02_150')" id="upgUnit02_150">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Pinkdam<br/>
            Prix : <span id="TTupgUnit02_150"></span>
        </span>
    </div>
    <!-- ---------DAMAGE UPG---------- -->
    <div class="upgradeButton upg10 upgUnit02" onclick="buyUpgDmg(Unit02,'10GET','upgDMGUnit02_10')" id="upgDMGUnit02_10">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Pinkdam<br/>
            Prix : <span id="TTupgDMGUnit02_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit02" onclick="buyUpgDmg(Unit02,'25GET','upgDMGUnit02_25')" id="upgDMGUnit02_25">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Pinkdam<br/>
            Prix : <span id="TTupgDMGUnit02_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit02" onclick="buyUpgDmg(Unit02,'50GET','upgDMGUnit02_50')" id="upgDMGUnit02_50">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Pinkdam<br/>
            Prix : <span id="TTupgDMGUnit02_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit02" onclick="buyUpgDmg(Unit02,'100GET','upgDMGUnit02_100')" id="upgDMGUnit02_100">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Pinkdam<br/>
            Prix : <span id="TTupgDMGUnit02_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit02" onclick="buyUpgDmg(Unit02,'150GET','upgDMGUnit02_150')" id="upgDMGUnit02_150">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Pinkdam<br/>
            Prix : <span id="TTupgDMGUnit02_150"></span>
        </span>
    </div>
    <!-- ---------UNIT03 UPGRADE--------- -->
    <div class="upgradeButton upg10 upgUnit03" onclick="buyUpgMoney(Unit03,'10GET','upgUnit03_10')" id="upgUnit03_10">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les CodeMek<br/>
            Prix : <span id="TTupgUnit03_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit03" onclick="buyUpgMoney(Unit03,'25GET','upgUnit03_25')" id="upgUnit03_25">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les CodeMek<br/>
            Prix : <span id="TTupgUnit03_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit03" onclick="buyUpgMoney(Unit03,'50GET','upgUnit03_50')" id="upgUnit03_50">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les CodeMek<br/>
            Prix : <span id="TTupgUnit03_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit03" onclick="buyUpgMoney(Unit03,'100GET','upgUnit03_100')" id="upgUnit03_100">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les CodeMek<br/>
            Prix : <span id="TTupgUnit03_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit03" onclick="buyUpgMoney(Unit03,'150GET','upgUnit03_150')" id="upgUnit03_150">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les CodeMek<br/>
            Prix : <span id="TTupgUnit03_150"></span>
        </span>
    </div>
    <!-- ---------DAMAGE UPG---------- -->
    <div class="upgradeButton upg10 upgUnit03" onclick="buyUpgDmg(Unit03,'10GET','upgDMGUnit03_10')" id="upgDMGUnit03_10">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des CodeMek<br/>
            Prix : <span id="TTupgDMGUnit03_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit03" onclick="buyUpgDmg(Unit03,'25GET','upgDMGUnit03_25')" id="upgDMGUnit03_25">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des CodeMek<br/>
            Prix : <span id="TTupgDMGUnit03_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit03" onclick="buyUpgDmg(Unit03,'50GET','upgDMGUnit03_50')" id="upgDMGUnit03_50">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des CodeMek<br/>
            Prix : <span id="TTupgDMGUnit03_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit03" onclick="buyUpgDmg(Unit03,'100GET','upgDMGUnit03_100')" id="upgDMGUnit03_100">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des CodeMek<br/>
            Prix : <span id="TTupgDMGUnit03_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit03" onclick="buyUpgDmg(Unit03,'150GET','upgDMGUnit03_150')" id="upgDMGUnit03_150">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des CodeMek<br/>
            Prix : <span id="TTupgDMGUnit03_150"></span>
        </span>
    </div>
    <!-- ---------UNIT04 UPGRADE--------- -->
    <div class="upgradeButton upg10 upgUnit04" onclick="buyUpgMoney(Unit04,'10GET','upgUnit04_10')" id="upgUnit04_10">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les BlueTurtle<br/>
            Prix : <span id="TTupgUnit04_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit04" onclick="buyUpgMoney(Unit04,'25GET','upgUnit04_25')" id="upgUnit04_25">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les BlueTurtle<br/>
            Prix : <span id="TTupgUnit04_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit04" onclick="buyUpgMoney(Unit04,'50GET','upgUnit04_50')" id="upgUnit04_50">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les BlueTurtle<br/>
            Prix : <span id="TTupgUnit04_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit04" onclick="buyUpgMoney(Unit04,'100GET','upgUnit04_100')" id="upgUnit04_100">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les BlueTurtle<br/>
            Prix : <span id="TTupgUnit04_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit04" onclick="buyUpgMoney(Unit04,'150GET','upgUnit04_150')" id="upgUnit04_150">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les BlueTurtle<br/>
            Prix : <span id="TTupgUnit04_150"></span>
        </span>
    </div>
    <!-- ---------DAMAGE UPG---------- -->
    <div class="upgradeButton upg10 upgUnit04" onclick="buyUpgDmg(Unit04,'10GET','upgDMGUnit04_10')" id="upgDMGUnit04_10">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des BlueTurle<br/>
            Prix : <span id="TTupgDMGUnit04_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit04" onclick="buyUpgDmg(Unit04,'25GET','upgDMGUnit04_25')" id="upgDMGUnit04_25">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des BlueTurle<br/>
            Prix : <span id="TTupgDMGUnit04_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit04" onclick="buyUpgDmg(Unit04,'50GET','upgDMGUnit04_50')" id="upgDMGUnit04_50">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des BlueTurle<br/>
            Prix : <span id="TTupgDMGUnit04_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit04" onclick="buyUpgDmg(Unit04,'100GET','upgDMGUnit04_100')" id="upgDMGUnit04_100">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des BlueTurle<br/>
            Prix : <span id="TTupgDMGUnit04_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit04" onclick="buyUpgDmg(Unit04,'150GET','upgDMGUnit04_150')" id="upgDMGUnit04_150">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des BlueTurle<br/>
            Prix : <span id="TTupgDMGUnit04_150"></span>
        </span>
    </div>
    <!-- ---------UNIT05 UPGRADE--------- -->
    <div class="upgradeButton upg10 upgUnit05" onclick="buyUpgMoney(Unit05,'10GET','upgUnit05_10')" id="upgUnit05_10">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les GoldenLion<br/>
            Prix : <span id="TTupgUnit05_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit05" onclick="buyUpgMoney(Unit05,'25GET','upgUnit05_25')" id="upgUnit05_25">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les GoldenLion<br/>
            Prix : <span id="TTupgUnit05_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit05" onclick="buyUpgMoney(Unit05,'50GET','upgUnit05_50')" id="upgUnit05_50">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les GoldenLion<br/>
            Prix : <span id="TTupgUnit05_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit05" onclick="buyUpgMoney(Unit05,'100GET','upgUnit05_100')" id="upgUnit05_100">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les GoldenLion<br/>
            Prix : <span id="TTupgUnit05_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit05" onclick="buyUpgMoney(Unit05,'150GET','upgUnit05_150')" id="upgUnit05_150">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les GoldenLion<br/>
            Prix : <span id="TTupgUnit05_150"></span>
        </span>
    </div>
    <!-- ---------DAMAGE UPG---------- -->
    <div class="upgradeButton upg10 upgUnit05" onclick="buyUpgDmg(Unit05,'10GET','upgDMGUnit05_10')" id="upgDMGUnit05_10">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Golden Lion<br/>
            Prix : <span id="TTupgDMGUnit05_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit05" onclick="buyUpgDmg(Unit05,'25GET','upgDMGUnit05_25')" id="upgDMGUnit05_25">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Golden Lion<br/>
            Prix : <span id="TTupgDMGUnit05_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit05" onclick="buyUpgDmg(Unit05,'50GET','upgDMGUnit05_50')" id="upgDMGUnit05_50">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Golden Lion<br/>
            Prix : <span id="TTupgDMGUnit05_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit05" onclick="buyUpgDmg(Unit05,'100GET','upgDMGUnit05_100')" id="upgDMGUnit05_100">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Golden Lion<br/>
            Prix : <span id="TTupgDMGUnit05_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit05" onclick="buyUpgDmg(Unit05,'150GET','upgDMGUnit05_150')" id="upgDMGUnit05_150">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Golden Lion<br/>
            Prix : <span id="TTupgDMGUnit05_150"></span>
        </span>
    </div>
    <!-- ---------UNIT06 UPGRADE--------- -->
    <div class="upgradeButton upg10 upgUnit06" onclick="buyUpgMoney(Unit06,'10GET','upgUnit06_10')" id="upgUnit06_10">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Kaiser<br/>
            Prix : <span id="TTupgUnit06_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit06" onclick="buyUpgMoney(Unit06,'25GET','upgUnit06_25')" id="upgUnit06_25">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Kaiser<br/>
            Prix : <span id="TTupgUnit06_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit06" onclick="buyUpgMoney(Unit06,'50GET','upgUnit06_50')" id="upgUnit06_50">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Kaiser<br/>
            Prix : <span id="TTupgUnit06_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit06" onclick="buyUpgMoney(Unit06,'100GET','upgUnit06_100')" id="upgUnit06_100">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Kaiser<br/>
            Prix : <span id="TTupgUnit06_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit06" onclick="buyUpgMoney(Unit06,'150GET','upgUnit06_150')" id="upgUnit06_150">
        <div><p>x2</p><img src="{{ asset("images/billet.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 l'argent rapporté par les Kaiser<br/>
            Prix : <span id="TTupgUnit06_150"></span>
        </span>
    </div>
    <!-- ---------DAMAGE UPG---------- -->
    <div class="upgradeButton upg10 upgUnit06" onclick="buyUpgDmg(Unit06,'10GET','upgDMGUnit06_10')" id="upgDMGUnit06_10">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Kaiser<br/>
            Prix : <span id="TTupgDMGUnit06_10"></span>
        </span>
    </div>
    <div class="upgradeButton upg25 upgUnit06" onclick="buyUpgDmg(Unit06,'25GET','upgDMGUnit06_25')" id="upgDMGUnit06_25">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Kaiser<br/>
            Prix : <span id="TTupgDMGUnit06_25"></span>
        </span>
    </div>
    <div class="upgradeButton upg50 upgUnit06" onclick="buyUpgDmg(Unit06,'50GET','upgDMGUnit06_50')" id="upgDMGUnit06_50">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Kaiser<br/>
            Prix : <span id="TTupgDMGUnit06_50"></span>
        </span>
    </div>
    <div class="upgradeButton upg100 upgUnit06" onclick="buyUpgDmg(Unit06,'100GET','upgDMGUnit06_100')" id="upgDMGUnit06_100">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Kaiser<br/>
            Prix : <span id="TTupgDMGUnit06_100"></span>
        </span>
    </div>
    <div class="upgradeButton upg150 upgUnit06" onclick="buyUpgDmg(Unit06,'150GET','upgDMGUnit06_150')" id="upgDMGUnit06_150">
        <div><p>x2</p><img src="{{ asset("images/fist.png") }}" alt=""></div>
        <span class="coupontooltip">
            Multiplie par 2 les dégats des Kaiser<br/>
            Prix : <span id="TTupgDMGUnit06_150"></span>
        </span>
    </div>
</div>